@media screen and (max-width: 360px) {

  .body {
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .header {
    max-width: 100%;
    display: block;
    text-align: center;
    height: 4rem;
  }

  .top-header {
    height: 1.3rem;
    align-items: center;
  }

.top-header .login-button{
font-size: .8rem;
margin-bottom: 0rem;
background-color: var(--secondary-red);
color: var(--secondary-white);
cursor: pointer;
font-weight: 400;
text-transform: uppercase;
}

 .nav-links, 
  .gift-button,
  .social-icons i, 
  .language, 
  .find-button {
    display: none;
  }

  .bottom-header {
    height: 2.7rem;
  }

  .bottom-header img{
    height: 4rem;
    margin: auto;
  }

  .burgerbtn {
    display: block;
    color: var(--secondary-black);
    font-size: 2.5rem;
    margin: auto;
  }
  .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    left: 2rem;
    right: 2rem;
    width: unset;
  }

  .gift-button {
    font-family: 'Economica', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    padding: 0rem;
    background-color: var(--secondary-red);
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);


  }

  .dropdown-menu .gift-button button {
    font-family: 'Economica', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    padding: 0rem;
    background-color: var(--secondary-red);
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  
  }

/* SECTION-1 */
.button-slider {
  max-width: 100%;
}
  .slider {
    display: flex;
    max-width: 100%;
    aspect-ratio: 9/16;
    overflow-x: auto;
    scrooll-snap-type: x mandatory;
  }
  
  .first-image{
    max-width: 100%;
    position: absolute;
    align-items: center;
    margin-left:0rem;
  }

  .first-image h1 {
    max-width: 100%;
    font-size: 2.4rem;
    text-align: center;
    color: white;
    margin: auto;
    background-color: var(--secondary-red);
  }
  
  .first-image h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1.5rem;

    }

    .first-image h3 {
      text-align: center;
      font-size: 1.3rem;
      }
  
  .slider-nav {
    width: 100%;
    bottom: 2rem;
    transform: translateX(-50%);
    position: relative;
  }
  
  .slider-nav a {
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: var(--secondary-red);
    opacity: 1;
  }

  .slider-1, 
  .slider-2, 
  .slider-3{
    max-width: 100%;
  }

  #slider-1
  #slider-2
  #slider-3 {
    width: auto;
    height: 100%;
  }

  /* SECTION 2 */
  .section-2 .introduction h1 {
    font-size: 2.5rem;
    font-family: 'Economica', sans-serif;
    color: var(--secondary-red);
  }
  .section-2 .introduction h3, 
  .section-2 .introduction h4{
    font-size: .8rem;
    margin-top: 0.4rem;
  }

  .card {
    width: 10.2rem;
    height: 17rem;
    margin: .5rem .3rem 1.3rem .3rem;
  }

  #store {
    width: 20rem;
    height: 4.6rem;
  }

  .image-3 {
   display: none;
  }
  
  .card .card-info h1 {
    font-size: 1rem;
  }

  .card .card-info p {
    display: none; 
  }
  
  .more {
    bottom: 0;
    font-size: 1.6rem;
    padding: 0.1rem 0.4rem 0.3rem 0.4rem;
  }

  #store .more {
    padding: 0rem;
    color: var(--secondary-white);
  }

  .more i {
    display:inline;
    margin-left: 0.5rem;
  }

  #store .read-more h3 {
    color: var(--secondary-white);
  }

  #store .read-more i {
    display:inline;
    margin-left: 0.5rem;
  }
  .more .read-more {
    font-size: 1.4rem;
  }

  /* SECTION 3 */
  .section-3-header h1{
    font-family: 'Economica', sans-serif;
    font-size: 2.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  /* .product-container {
    display: grid;
    max-width: 90rem;
    width: 100%;
    height: 22.2rem;
  }
  
  .product-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 0.3rem;
  }

  .more-product {
    display: inline-flex;
  }

  .more-product h3 {
    grid-column: 1 / 4;
    grid-row: 1;
    margin-left: .5rem;
    white-space: nowrap;
  }

  .more-product h1 {
    grid-column: 2 / 4;
    grid-row: 1;
    text-align: center;
    align-items: center;
  }
  
  .more-buy  {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .more-info  {
    grid-column: 4 / 4;
    grid-row: 1;
  }

.title-card h3 {
  color: var(--secondary-white);
  font-size: 1.8rem;
  writing-mode: horizontal-tb;
  text-transform: uppercase;
}
  
  #product-image {
    display: none;
  }

  .product-card a{
    display: inline;
  }
 */
  
 .product-card {
  width: 95%;
  height: 14rem;
  margin: 0.2rem 0.1rem;
}

 #product-image {
  position: absolute;
  width: 100%;
  height: 55%;
  object-fit:cover;
}

 .title-card{
  width: 8.7rem;
  height: 10;
  margin-right: 0;
}

.title-card h3 {
  margin-top:5rem;
  margin-left: 0rem;
  font-size: 1.5rem;
}

.more-product h1 {
  font-size: 1rem;
  margin-top: .5rem;
}

.more-product h3 {
  margin: .8rem .1rem 1rem .1rem;
  position: relative;
  font-size: .9rem;
  text-align: center;
}

.more-info {
  margin-top:6.8rem;
  margin-left: 50%;
  opacity: 1;
}

.more-info h3 {
  font-size: .8rem;
}

.more-buy {
  position: relative;
  background:var(--secondary-red);
  margin-top: .1rem;
  margin-bottom: .1rem;
  margin-left: 70%;
  opacity: 1;
  z-index: 2;
}

.more-buy h3 {
display: none;

}



/* SECTION 4 */
.definitions-container {
display: inline-flex;
flex-wrap: wrap;
background-image: url("./public/images/sunset-1.jfif");

background-size:cover;
background-attachment: fixed;
background-position: center ;

}

.definition {
  margin: 2rem;
}

.definition {
  margin: 1.5rem;
}

.definition h2 {
  text-align:left;
  font-size: 1.5rem;
}

.definition i{
  margin-right: .5rem;
  font-size: 2.3rem;
  color: var(--secondary-red);
}


.definition p{
  text-align: justify;
  line-height: 1.3rem;
}


/* SECTION 5 */
.brand-slider {
  animation: scroll 150s linear infinite;
}

/* FOOTER */

.footer {
  margin-top: .4rem;
  height: 32%;
}

.top-footer {
  height: .7rem;
  border-bottom:rgba(151, 145, 145, 0.2) 3px solid;
}

.middle-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.logo-footer {
  width: 5rem;
  height: 4rem;
  margin: 1.8rem 1rem 1rem 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-white);
}

.middle-footer h2 {
  letter-spacing: 1px;
  font-size: .7rem;
}

.social-media a{
  margin-top: 1.5rem;
  margin-right: 0rem;
  font-size: 1.25rem;
}

.legal-links {
  margin-top: 1rem;
}
.legal-links a {
  font-family: 'Roboto', sans-serif;
  margin-top: 0rem;
  letter-spacing: 1px;
  display: block;
  color: white;
  font-size: .4rem;
}


.bottom-footer {
  margin-top: 1rem;
  height: 1rem;
  text-align: center;
  color: white;
  font-size: .4rem;
}


  
  
  
  

  

  /* SECTION-3 */
  .bottom-triangle {
    width: auto;
  }


  .go-up-button {
    right: 4rem;
  }
    
}