@import url("https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Heebo:wght@500&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");

:root {
  --main-color: #337ab7;
  --secondary-red: rgb(139, 7, 7);
  --secondary-grey: #423f3f;
  --secondary-white: #f6f2f2;
  --secondary-black: #020017;
  font-family: "Economica", sans-serif;
  font-family: "Heebo", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: snow;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: rgba(235, 228, 235, 0.75);
  height: 7rem;
  padding: 0.4rem 10%;
}

.top-header {
  height: 2.7rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: var(--secondary-grey) 2px solid;
}

.top-header .nav-links-1 {
  margin-bottom: 0.5rem;
  list-style: none;
  text-transform: uppercase;
}

.top-header .nav-links-1 a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  color: var(--secondary-black);
  font-weight: 600;
}

.top-header .nav-links-1 li {
  display: inline-block;
  align-items: end;
  padding-left: 2rem;
  padding-bottom: 0.1rem;
}

.top-header .nav-links-1 a:hover {
  text-decoration: underline;
}

.top-header .social-icons li {
  font-size: 2rem;
  display: inline-block;
  padding: 0rem 0.4rem;
}

.top-header .social-icons li:hover {
  transform: scale(1.2);
}

.social-icons a {
  color: black;
}

.top-header .social-icons a:hover {
  color: var(--main-color);
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.language {
  margin-bottom: 0.6rem;
  margin-left: 2.5rem;
  font-size: 1rem;
  font-weight: 700;
}

.es {
  font-family: "Economica", sans-serif;
  color: var(--secondary-grey);
}

.en {
  font-family: "Economica", sans-serif;
  margin-left: 1.8rem;
  color: var(--main-color);
}

.check {
  position: relative;
  width: 0.2rem;
}

.check:before {
  position: absolute;
  content: "";
  width: 1.8rem;
  height: 1rem;
  background: var(--main-color);
  border-radius: 10px;
}

.check:checked:before {
  background: var(--secondary-grey);
}

.check:after {
  position: absolute;
  content: "";
  width: 0.75rem;
  height: 1rem;
  background: var(--secondary-grey);
  border-radius: 10px;
  transition: 0.25s;
  border: 2px solid var(--secondary-grey);
  box-sizing: border-box;
}

.check:checked:after {
  left: 1.1rem;
  background: var(--main-color);
}

.top-header .login-button {
  font-family: "Economica", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  color: var(--secondary-red);
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s ease 0s;
  text-transform: uppercase;
}

.top-header .login-button:hover {
  background-color: var(--secondary-red);
  color: var(--secondary-white);
  border-radius: 20px;
}

.find-button {
  height: 1.2rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  cursor: pointer;
  padding: 0.8rem;
  background-color: var(--secondary-red);
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.find-button:hover {
  width: 12rem;
}

.find-button input {
  flex: 1;
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
  color: white;
}

.find-button i {
  margin-top: 0.1rem;
  color: white;
  font-size: 1rem;
}

.bottom-header {
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0%;
}

.bottom-header img {
  height: 6rem;
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 2rem;
}

.bottom-header img:hover {
  transform: scale(1.2);
}

.bottom-header .nav-links {
  list-style: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.bottom-header .nav-links li {
  display: inline-block;
  padding: 0 20px;
  transition: 0.2s;
}

.bottom-header .nav-links li:hover {
  transform: scale(1.1);
}

.bottom-header .nav-links a {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-black);
  text-decoration: none;
  padding: 7px;
}

.bottom-header .nav-links li a:hover {
  color: white;
  background-color: var(--main-color);
  border-radius: 5px;
}

.bottom-header .gift-button {
  margin-bottom: 1.9rem;
}

.bottom-header .gift-button button {
  font-family: "Economica", sans-serif;
  text-decoration: none;
  font-weight: 700px;
  font-size: 1rem;
  color: white;
  padding: 0.4rem;
  background-color: var(--secondary-red);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  text-transform: uppercase;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.bottom-header .gift-button:hover button i {
  transform: scale(1.2);
}

.burgerbtn {
  color: var(--secondary-white);
  font-size: 45px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#burger {
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  height: 0;
  top: 4rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 19rem;
  width: 65vw;
  margin: auto;
}

.dropdown-menu li {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding: 0.5rem;
}

.dropdown-menu li a {
  color: var(--secondary-black);
  font-size: 1.2rem;
  font-weight: 600;
}

.dropdown-menu li .gift-button {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 700px;
  font-size: 0.8rem;
  color: white;
  padding: 0.3rem;
  background-color: var(--secondary-red);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  text-transform: uppercase;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-family: "Economica", sans-serif;
}

/* SECTION 1 */
.slider {
  position: relative;
  display: flex;
  aspect-ratio: 14.9/7;
  height: fit-content;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 0.1rem 1rem #670202bd;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  size: cover;
}

.first-image {
  position: absolute;
  left: 3vw;
  bottom: 6vh;
  text-transform: uppercase;
  font-family: "Economica", sans-serif;
}

.first-image h1,
.first-image h2,
.first-image h3 {
  font-family: "Economica", sans-serif;
  color: white;
}

.first-image h1 {
  font-size: 3rem;
  width: 26rem;
  margin-top: 2rem;
  color: white;
  background-color: var(--secondary-red);
}

.first-image h2 {
  font-size: 2.1rem;
}

.first-image h3 {
  font-size: 1.8rem;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: relative;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  margin: auto;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--secondary-red);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/* SECTION 2 */
.section-2 .introduction h1 {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Heebo", sans-serif;
  font-size: 3.5rem;
  margin-top: 2rem;
  font-weight: 300;
}

.section-2 .introduction h3 {
  font-family: "Heebo", sans-serif;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 1rem;
  font-weight: 100;
}

.section-2 .introduction h4 {
  font-family: "Heebo", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 200;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.card {
  width: 22rem;
  height: 25rem;
  margin: 1.5rem 4rem;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  transition: 0.2s;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.image-1,
.image-2,
.image-3 {
  min-width: 100%;
  height: 100%;
}

.card-info {
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}

.card .card-info h1 {
  font-family: "Economica", sans-serif;
  text-align: center;
  background-color: var(--secondary-red);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0.5rem;
  transition: 0.3s;
  transition-property: transform;
}

.card:hover h1 {
  transform: translateY(0.1rem);
}

.card h1 span {
  font-size: 1.9rem;
  font-family: "Economica", sans-serif;
  font-weight: 900;
}

.card .card-info p {
  color: white;
  padding: 0rem 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.5px;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity;
}

.card:hover .card-info p {
  opacity: 1;
}

.more {
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  background: var(--main-color);
  width: 100%;
  align-items: center;
  text-align: center;
  bottom: -150px;
  transition: 0.5s;
  transition-property: bottom;
  background-color: rgb(0, 0, 0, 0.8);
}

.more i {
  display: none;
}

.card:hover .more {
  bottom: 0;
}

.more .read-more {
  color: var(--secondary-white);
  margin: auto;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.more .read-more h3 {
  font-weight: 900;
  color: var(--main-color);
  font-family: "Economica", sans-serif;
  margin: auto;
}

.more .read-more:hover h3 {
  color: var(--secondary-white);
}

.store-image {
  object-fit: cover;
  object-position: 20% 90%;
}

/* SECTION 3 */
.bottom-shadow {
  height: 3rem;
  border-bottom: rgba(151, 145, 145, 0.6) 5px solid;
  width: 90%;
  position: inherit;
  margin: auto;
}

.bottom-triangle {
  border-bottom: 3px solid rgba(139, 7, 7, 0.7);
  width: 48rem;
  position: inherit;
  margin: auto;
}

.bottom-triangle-form {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--secondary-red);
  margin: auto;
  margin-top: 20px;
}

.section-3-header h1 {
  font-family: "Heebo", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-red);
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: 900;
}

.product-container {
  position: relative;
  margin: auto;
  display: flex;
  max-width: 80rem;
  width: 100%;
  height: 14.8rem;
}

.product-card {
  width: 100%;
  margin: 0.6rem 0.5rem;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(128, 128, 128, 0);
  transition: all 200ms ease;
  transition-property: border;
}

.product-card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
  border: 5px solid rgba(128, 128, 128, 1);
}

#product-image {
  position: absolute;
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.more-product h1 {
  position: relative;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Economica", sans-serif;
  text-align: center;
}

.more-product h3 {
  margin: 0.4rem 0.1rem 0rem 0.1rem;
  position: relative;
  font-size: 1.6rem;
  color: var(--secondary-red);
  font-family: "Economica", sans-serif;
  text-align: center;
}

.more-info {
  margin-top: 6.7rem;
  position: relative;
  background: var(--main-color);
  width: auto;
  margin-left: 70%;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Economica", sans-serif;
  font-weight: 600;
  color: var(--secondary-white);
  opacity: 0;
  transition: all 400ms ease;
}

.more-info h3 {
  font-family: "Economica", sans-serif;
  font-size: 1rem;
  margin: auto;
}

.product-card:hover .more-info {
  opacity: 1;
}

.more-buy {
  position: relative;
  background: var(--main-color);
  margin-top: 0.2rem;
  margin-bottom: 0rem;
  margin-left: 38%;
  width: auto;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: var(--secondary-white);
  transition: all 200ms ease;
  opacity: 0;
}

.more-buy h3 {
  font-family: "Economica", sans-serif;
  margin: auto;
  font-size: 1rem;
}

.product-card:hover .more-buy {
  opacity: 1;
}

.more-buy:hover,
.more-info:hover {
  background: var(--secondary-red);
  color: white;
}

.title-card {
  width: 18rem;
  height: 12;
  margin: 0.5rem;
  position: relative;
  overflow: hidden;
  background-color: var(--secondary-red);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: 0px solid rgba(128, 128, 128, 0);
  transition: all 200ms ease;
  border-radius: 10px;
  font-family: "Economica", sans-serif;
}

.title-card h3 {
  writing-mode: vertical-rl;
  margin-top: 4.5rem;
  margin-left: 0.4rem;
  font-size: 2rem;
  color: white;
  display: inline;
  transform: rotate(180deg);
  text-transform: uppercase;
}

.aut-image {
  object-position: 0% 95%;
}

.siv-image {
  object-position: 0% 30%;
}

/* SECTION 4 */
.definitions-container {
  margin-top: 2.5rem;
  position: relative;
  background-image: url("./public/images/backgrounds/sunset.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  grid-gap: 0 1em;
  grid-template-columns: repeat(3, 1fr);
}

.definition {
  margin: 2rem;
  display: block;
}

.definition h2 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Economica", sans-serif;
}

.definition p {
  padding: 0.5rem;
  text-align: justify;
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  color: white;
}

.definition i {
  margin-right: 0.8rem;
  font-size: 2.3rem;
}

.definition:hover p {
  background-color: rgb(2, 0, 23, 0.5);
  border-radius: 10px;
}

.definition:hover i {
  color: var(--secondary-red);
}

/* SECTION 5 */
.brands {
  height: 7rem;
  margin-top: 2rem;
  overflow: hidden;
}

.brand-slider {
  animation: scroll 300s linear infinite;
  display: flex;
}

.item img {
  object-fit: cover;
  width: auto;
  padding: 0 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX (0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* FOOTER */
.footer {
  margin-top: 2rem;
  width: 100%;
  max-height: 100%;
  background-color: #2f2f2f;
}

.top-footer {
  height: 2rem;
  border-bottom: rgba(151, 145, 145, 0.2) 5px solid;
  width: 80%;
  margin: auto;
}

.middle-footer {
  height: 5rem;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.logo-footer {
  display: flex;
  width: 7rem;
  margin: 1rem 6rem;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-white);
}

.logo-footer img {
  width: 100%;
}

.middle-footer h2 {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: auto;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 800;
}

.social-media a {
  margin-top: 1rem;
  margin-right: 0.5rem;
  font-size: 1.7rem;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.social-media a:hover {
  color: var(--main-color);
}

.legal-links a {
  font-family: "Roboto", sans-serif;
  margin: 1rem;
  letter-spacing: 1px;
  display: block;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
}

.legal-links a:hover {
  text-decoration: underline;
}

.bottom-footer {
  margin-top: 2rem;
  height: 2rem;
  text-align: center;
  color: white;
}

.go-up-button {
  position: fixed;
  width: 2rem;
  height: 2rem;
  background: rgba(108, 2, 2, 0.85);
  bottom: 1.2rem;
  right: 1.2rem;
  text-decoration: none;
  text-align: center;
  line-height: 10px;
  color: white;
  font-size: 1.7rem;
}

/* MEDIAS */

@media screen and (max-width: 2500px) {
  .first-image h1 {
    font-size: 6rem;
    width: max-content;
  }
  .first-image h2 {
    font-size: 4rem;
    width: max-content;
  }
  .first-image h3 {
    font-size: 3rem;
    width: max-content;
  }
}

@media screen and (max-width: 1704px) {
  .top-header .nav-links-1 li {
    align-items: center;
    padding-left: 1rem;
  }

  .bottom-header .nav-links li {
    align-items: end;
    padding: 0 1px;
  }

  .first-image h1 {
    font-size: 4rem;
    width: max-content;
  }
  .first-image h2 {
    font-size: 3rem;
    width: max-content;
  }
  .first-image h3 {
    font-size: 2rem;
    width: max-content;
  }

  .card {
    width: 22rem;
    height: 25rem;
    margin: 1.5rem 2rem;
  }

  @media screen and (min-width: 1502px) {
    .first-image {
      margin-top: 30vh;
    }
    .first-image h1 {
      font-size: 4rem;
      width: max-content;
    }
    .first-image h2 {
      font-size: 3rem;
      width: max-content;
    }
    .first-image h3 {
      font-size: 2rem;
      width: max-content;
    }
    .top-header .nav-links-1 li a {
      font-size: 0.7rem;
      padding: 0.5rem;
    }

    .bottom-header .nav-links li a {
      font-size: 0.8rem;
    }

    .language {
      font-size: 0.7rem;
    }
    .top-header .login-button {
      font-size: 1rem;
    }

    .bottom-header .gift-button button {
      font-size: 1rem;
    }

    .more-info {
      background-color: var(--secondary-red);
    }
  }

  @media screen and (max-width: 1354px) {
    .first-image h1 {
      font-size: 3rem;
      width: max-content;
    }
    .first-image h2 {
      font-size: 2.5rem;
      width: max-content;
    }
    .first-image h3 {
      font-size: 2rem;
      width: max-content;
    }

    .card {
      width: 22rem;
      height: 25rem;
      margin: 1.5rem 1rem;
    }
    .top-header .nav-links-1 li {
      align-items: center;
      padding-left: 0.6rem;
      padding-bottom: 0.1rem;
      font-size: 0.8rem;
    }

    .bottom-header .nav-links li {
      align-items: end;
      padding: 0 1px;
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 1194px) {
    .nav-links-1 li:not(:last-child) {
      display: none;
    }

    .bottom-header .nav-links li {
      align-items: end;
      padding: 0 1px;
      font-size: 0.7rem;
    }

    .bottom-header .gift-button button {
      font-size: 0.8rem;
      padding: 0.3rem;
    }

    .bottom-header .gift-button button i {
      transform: scale(1.2);
    }

    .first-image h1 {
      font-size: 3rem;
      width: max-content;
    }
    .first-image h2 {
      font-size: 2.5rem;
      width: max-content;
    }
    .first-image h3 {
      font-size: 2rem;
      width: max-content;
    }

    .card {
      width: 18rem;
      height: 25rem;
      margin: 1.5rem 1rem;
    }

    .more {
      bottom: -250px;
    }

    .product-container {
      max-width: 70rem;
      height: 20rem;
    }

    .more-product h3 {
      font-size: 1.5rem;
      bottom: -6rem;
    }

    .more-product h1 {
      bottom: -7rem;
    }

    .more-info {
      bottom: -4rem;
    }

    .more-buy {
      bottom: -4rem;
      right: 0rem;
    }

    .title-card h3 {
      margin-top: 9rem;
    }
  }

  @media screen and (max-width: 1184px) {
    .nav-links li:last-child {
      display: none;
    }

    .nav-links li:first-child {
      display: none;
    }

    .bottom-header .nav-links li {
      padding: 0;
      font-size: 0.6rem;
      margin-bottom: 0.5rem;
    }

    .bottom-header .gift-button button {
      font-size: 0.8rem;
      padding: 0.3rem;
    }

    .first-image h1 {
      font-size: 3rem;
      margin-top: 1rem;
    }

    .first-image h2 {
      font-size: 2rem;
    }

    .first-image h3 {
      font-size: 1.5rem;
    }

    .section-2 .introduction h1 {
      font-size: 2.4rem;
    }

    .card {
      width: 15rem;
      height: 25rem;
      margin: 1.5rem 0.5rem;
    }

    .product-container {
      max-width: 70rem;
      height: 24rem;
    }

    .more {
      bottom: -250px;
    }

    .more-product h3 {
      margin-top: 1rem;

      padding: 0;
    }

    .more-buy {
      opacity: 1;
      top: 8vh;
      margin-left: 0rem;
    }

    .more-info {
      opacity: 1;
      top: 8vh;
      margin-left: 6rem;
      background-color: var(--secondary-red);
    }

    .more-info h3 {
      font-size: 1rem;
    }

    .title-card h3 {
      margin-top: 9rem;
    }

    .definitions-container {
      display: inline-flex;
      flex-wrap: wrap;
    }

    .definition {
      margin: 2rem;
    }

    .definition h2 {
      color: var(--secondary-red);
      font-size: 2.3rem;
      text-align: center;
    }

    .definition i {
      margin-right: 1rem;
    }

    .definition p {
      text-align: center;
      margin: 0 3rem;
      color: var(--secondary-white);
      line-height: 1.5rem;
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      height: 3rem;
    }
    .top-header {
      height: 1.3rem;
    }

    .top-header .language {
      display: none;
    }

    .top-header .login-button {
      font-size: 0.8rem;
    }

    .top-header .social-icons i {
      font-size: 1rem;
    }

    .find-button {
      height: 1rem;
      margin-bottom: 0.3rem;
      padding: 0.5rem;
    }

    .find-button i {
      margin-top: 0.1rem;
      font-size: 0.5rem;
    }

    .nav-links li:nth-child(5) {
      display: none;
    }

    .top-header .nav-links-1 a {
      font-size: 0.5rem;
    }

    .bottom-header .nav-links {
      font-size: 0.3rem;
      margin-top: 1.7rem;
    }

    .bottom-header {
      height: 1.9rem;
    }

    .bottom-header .gift-button {
      margin-bottom: 0.6rem;
    }

    .bottom-header .gift-button button {
      font-size: 0.7rem;
      padding: 0.2rem;
    }

    .bottom-header img {
      margin-bottom: 0.1rem;
      margin-left: 0.1rem;
      height: 2rem;
    }

    .first-image h1 {
      font-size: 2rem;
    }
    .first-image h2 {
      font-size: 1.5rem;
    }
    .first-image h3 {
      font-size: 1.3rem;
    }

    #store {
      width: 25rem;
      height: 4.6rem;
    }

    .image-3 {
      display: none;
    }

    #store .more {
      bottom: -5.35rem;
      margin: 0rem;
      padding: 0rem;
      color: var(--secondary-white);
    }
    #store .read-more h3 {
      color: var(--secondary-white);
    }

    #store .read-more i {
      display: inline;
      margin-left: 0.5rem;
    }

    .product-container {
      max-width: 70rem;
      height: 18rem;
    }

    .title-card h3 {
      margin-top: 6rem;
    }

    #product-image {
      height: 60%;
    }

    .more-product h3 {
      font-size: 1.5rem;
      bottom: -0.5rem;
    }

    .more-product h1 {
      bottom: -0.5rem;
    }

    .more-buy {
      opacity: 1;
      top: 1.5vh;
    }

    .more-info {
      opacity: 1;
      top: 2vh;
      margin-left: 5rem;
    }

    .more-info h3 {
      font-size: 1rem;
    }

    .logo-footer {
      height: 5rem;
    }

    .middle-footer h2 {
      margin-top: 1rem;
    }

    .legal-links a {
      font-size: 0.5rem;
    }
  }

  @media screen and (max-width: 585px) {
    .body {
      box-sizing: border-box;
      min-height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .header {
      max-width: 100%;
      display: block;
      text-align: center;
      height: 4rem;
    }

    .top-header .login-button {
      font-size: 1rem;
      margin-bottom: 0.4rem;
      padding: 0.1rem 0.2rem;
      background-color: var(--secondary-red);
      color: var(--secondary-white);
    }

    .top-header .nav-links-1 .contact-li {
      margin-bottom: -1rem;
      font-family: "Economica", sans-serif;
    }

    .nav-links,
    .gift-button,
    .language,
    .find-button {
      display: none;
    }

    .top-header .social-icons li {
      padding: 0 0.2rem;
    }

    .bottom-header {
      height: 2.7rem;
    }

    .bottom-header img {
      height: 4rem;
      margin: auto;
    }

    .burgerbtn {
      display: block;
      color: var(--secondary-black);
      font-size: 2.5rem;
      margin: auto;
    }

    .dropdown-menu {
      display: block;
    }

    .dropdown-menu {
      left: 2rem;
      right: 2rem;
      width: unset;
    }

    .dropdown-menu .gift-button button {
      font-family: "Economica", sans-serif;
      text-decoration: none;
      font-weight: 700;
      font-size: 1.2rem;
      color: white;
      padding: 0rem;
      background-color: var(--secondary-red);
      border: none;
      border-radius: 20px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .dropdown-menu li a {
      font-size: 1.3rem;
    }

    .dropdown-menu.open {
      height: 20rem;
    }

    /* SECTION-1 */
    .slider {
      max-width: 100%;
      aspect-ratio: 9/13;
    }

    .slider img {
      scroll-snap-align: center;
    }

    .first-image {
      max-width: 100%;
      align-items: center;
      margin-bottom: 2vh;
      font-size: 1.3rem;
      margin-left: 0;
    }

    .first-image h1 {
      max-width: 100%;
      font-size: 2.4rem;
      text-align: center;
      margin: auto;
    }

    .first-image h2 {
      text-align: center;
      font-size: 1.3rem;
      margin-top: 1.5rem;
    }

    .first-image h3 {
      text-align: center;
      font-size: 2rem;
    }

    .slider-nav {
      width: 100%;
      bottom: 2rem;
      transform: translateX(-50%);
    }

    .slider-nav a {
      width: 0.7rem;
      height: 0.7rem;
      opacity: 1;
    }

    /* SECTION 2 */
    .section-2 .introduction h1 {
      font-size: 2.5rem;
      font-family: "Economica", sans-serif;
      color: var(--secondary-red);
    }
    .section-2 .introduction h3,
    .section-2 .introduction h4 {
      font-size: 0.8rem;
      margin-top: 0.4rem;
    }

    .card {
      width: 10.2rem;
      height: 17rem;
      margin: 0.5rem 0.3rem 1.3rem 0.3rem;
    }

    #store {
      width: 20rem;
      height: 4.6rem;
    }

    .image-3 {
      display: none;
    }

    .card .card-info h1 {
      font-size: 1rem;
    }

    .card .card-info p {
      display: none;
    }

    .more {
      bottom: 0;
      font-size: 1.6rem;
      padding: 0.1rem 0.4rem 0.3rem 0.4rem;
    }

    #store .more {
      padding: 0rem;
      color: var(--secondary-white);
    }

    .more i {
      display: inline;
      margin-left: 0.5rem;
    }

    #store .read-more h3 {
      color: var(--secondary-white);
    }

    #store .read-more i {
      display: inline;
      margin-left: 0.5rem;
    }

    .more .read-more h3 {
      font-size: 1.3rem;
      padding: 0.2rem;
    }

    /* SECTION 3 */
    .bottom-triangle {
      border-bottom: 3px solid rgba(139, 7, 7);
      width: auto;
    }
    .section-3-header h1 {
      font-family: "Economica", sans-serif;
      font-size: 2.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .product-card {
      box-shadow: 5px 5px 5px rgba(87, 2, 2, 0.4);
    }

    .product-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 90rem;
      width: 100%;
      height: 22rem;
      margin-bottom: 80rem;
    }

    .product-card {
      height: 18rem;
      flex-flow: row wrap;
      margin: auto;
      width: 17rem;
      margin-bottom: 1rem;
    }

    .title-card {
      margin-bottom: 1rem;
      width: 95%;
      height: 2.5rem;
    }

    .title-card h3 {
      font-size: 2rem;
      margin-left: 40vw;
      writing-mode: horizontal-tb;
    }

    .more-product h3 {
      margin-top: 11rem;
      font-size: 2rem;
      margin-bottom: 0.2rem;
    }

    .more-product h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    .more-buy h3 {
      display: none;
    }

    .more-buy {
      opacity: 1;
      position: absolute;
      margin: 8.3rem 0rem 0rem 9.1rem;
      bottom: 2rem;
      font-size: 1.5rem;
    }

    .more-buy i {
      padding: 0.2rem;
    }

    .more-info {
      position: absolute;
      margin: 4.7rem 0rem 0rem 8.09rem;
      opacity: 1;
      bottom: 7.5rem;
      margin-left: 13.5rem;
      background-color: var(--secondary-red);
    }

    .more-info h3 {
      padding: 0.2rem;
      font-size: 1.5rem;
    }

    #product-image {
      position: absolute;
      width: 100%;
      height: 13.5vh;
      object-fit: cover;
    }

    #store .more {
      bottom: 0rem;
    }

    #product-image {
      position: absolute;
      width: 100%;
      height: 60%;
      object-fit: cover;
    }

    /* SECTION 4 */
    .definitions-container {
      display: inline-flex;
      flex-wrap: wrap;
      background-image: url("./public/images/backgrounds/sunset-2.jpg");

      background-size: cover;
      background-attachment: fixed;
      background-position: center;
    }

    .definition {
      margin: 2rem;
    }

    .definition {
      margin: 1.5rem;
    }

    .definition h2 {
      text-align: left;
      font-size: 1.7rem;
      text-align: center;
      color: var(--secondary-white);
    }

    .definition i {
      margin-right: 0.5rem;
      font-size: 2.3rem;
      color: var(--secondary-red);
    }

    .definition p {
      text-align: justify;
      line-height: 1.3rem;
      font-size: 1rem;
      font-weight: 600;
      color: var(--secondary-black);
    }

    /* SECTION 5 */
    .brand-slider {
      animation: scroll 150s linear infinite;
    }

    /* FOOTER */
    .footer {
      height: 9rem;
      margin-top: 0.4rem;
      max-height: 100%;
    }

    .top-footer {
      height: 0.7rem;
    }

    .middle-footer {
      display: grid;
      height: 5rem;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }

    .logo-footer {
      width: 5rem;
      height: 4rem;
      margin: 1.8rem 1rem 1rem 1rem;
      justify-content: center;
      align-items: center;
      background-color: var(--secondary-white);
    }

    .middle-footer h2 {
      letter-spacing: 1px;
      font-size: 0.7rem;
    }

    .social-media a {
      margin-top: 1.5rem;
      margin-right: 0rem;
      font-size: 1.25rem;
    }

    .legal-links {
      margin-top: 1rem;
    }
    .legal-links a {
      font-family: "Roboto", sans-serif;
      margin-top: 0rem;
      letter-spacing: 1px;
      display: block;
      color: white;
      font-size: 0.4rem;
    }

    .bottom-footer {
      height: 0.5rem;
      text-align: center;
      color: white;
      font-size: 0.4rem;
      margin-bottom: 0;
    }

    /* GO-UP-BUTTON */
    .go-up-button {
      margin-bottom: 1.5vh;
      right: 1.5vh;
    }
  }
}

@media screen and (max-width: 406px) {
  .first-image {
    margin-left: 55vw;
  }

  .first-image h1 {
    font-size: 1.7rem;
  }
  .first-image h2 {
    font-size: 0.9rem;
  }
  .first-image h3 {
    font-size: 1.5rem;
  }

  .product-container {
    margin-bottom: 42rem;
  }

  .dropdown-menu li {
    padding: 0.3rem;
  }

  .dropdown-menu li a {
    font-size: 0.8rem;
  }

  .dropdown-menu.open {
    height: 13rem;
  }

  .dropdown-menu .gift-button button {
    font-size: 0.7rem;
  }

  .product-container {
    margin-bottom: 50rem;
  }

  .product-card {
    height: 21rem;
    width: 10rem;
  }

  .more-buy {
    position: relative;
    top: -6.5rem;
    margin-left: 8rem;
  }

  .more-info {
    position: relative;
    top: 6rem;
    margin-left: 0rem;
  }

  .more-product h3 {
    margin-top: -4rem;
  }
}
